/* App.css */

/* Make the App container take the full height */
.App {
  height: 100vh;
  display: flex;
  flex-direction: column; /* Arrange children vertically */
}

/* Header styling */
.header {
  height: 15vh; /* Set header height */
  background-color: #000000; /* Example background color */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

/* Title styling */
.title {
  font-size: 3rem; /* Large font size for the title */
  margin: 0;
}

/* Content styling */
.content {
  flex: 1; /* Take up the remaining space below the header */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer styling  this is some sodhi code just for testing rebase */
